.header {
  background-color: black;
  width: 100vw;
  height: 10vh;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header div {
  padding: 1rem;
}
